<style type="text/css">
			body { background: url(/images/bg-login.jpg) !important; }
		</style>


<%= form_tag({:controller => "sessions", :action => "create", :method => "post"}) do %>

<div class="container-fluid">
		<div class="row-fluid">
					
			<div class="row-fluid">
				<div class="login-box">
					<div class="icons">
						<a href="index.html"><i class="icon-home"></i></a>
						<a href="#"><i class="icon-cog"></i></a>
					</div>
					<h2>Login to your account</h2>
					<form class="form-horizontal" action="" method="post">
						<fieldset>
							
							<div class="input-prepend" title="Username">
								<span class="add-on"><i class="icon-user"></i></span>
								<input class="input-large span10" name="email" id="email" type="text" placeholder="Enter Email"/>
							</div>
							<div class="clearfix"></div>

							<div class="input-prepend" title="Password">
								<span class="add-on"><i class="icon-lock"></i></span>
								<input class="input-large span10" name="password" id="password" type="password" placeholder="Enter Password"/>
							</div>
							<div class="clearfix"></div>
							
							<label class="remember" for="remember"><input type="checkbox" id="remember" />Remember me</label>

							<div class="button-login">
								<%= submit_tag "Login", :class => "btn btn-primary" %>	
							</div>

							<div class="clearfix"></div>
					</form>
					<hr>
					<h3>Don't have an account?</h3>
					<p>
						No problem, <a href="#">click here</a> to Sign Up.
					</p>	
				</div><!--/span-->
			</div><!--/row-->
			
				</div><!--/fluid-row-->
				
	</div><!--/.fluid-container-->

<% end %>