<style type="text/css">
body { 
				background: url(/images/bg-login2.png) no-repeat center center fixed !important; 
				background-size: cover!important;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
			}
</style>


<%= form_tag({:controller => "sessions", :action => "login", :method => "post"}) do %>

<div class="container-fluid">
		<div class="row-fluid">

					
			<div class="row-fluid">

				<h1 id="homepage-logo-text">Hire Me</h1>

				<div class="login-box">
					<h2>Login</h2>
					<form class="form-horizontal" action="" method="post">
						<fieldset>
							
							<div class="input-prepend" title="Username">
								<span class="add-on username add-on"><i class="icon-user"></i></span>
								<input class="input-large span10" name="email" id="email" type="text" placeholder="Enter Email"/>
							</div>
							<div class="clearfix"></div>

							<div class="input-prepend" title="Password">
								<span class="add-on password"><i class="icon-lock"></i></span>
								<input class="input-large span10" name="password" id="password" type="password" placeholder="Enter Password"/>
							</div>
							
							<label class="remember" for="remember"><input type="checkbox" id="remember" />Remember me</label>

							<div class="button-login">
								<%= submit_tag "Login", :class => "btn btn-primary" %>	
							</div>

							<div class="clearfix"></div>
					</form>
					<hr>
					<p id="no-account">Don't have an account?</p>
						<p><a href="/signup" class="btn-small btn">Sign up here</a></p>
				</div><!--/span-->
			</div><!--/row-->
				<h1 class="homepage-subtitle homepage-subtitle-top">An</h1>
				<div id="ac-dc-div"><%= image_tag('ac-dc.png', :id => "ac-dc-logo", :width => "100") %></div>
				<h1 class="homepage-subtitle homepage-subtitle-bottom">Production</h1>
				</div><!--/fluid-row-->
				
	</div><!--/.fluid-container-->
<% end %>