<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        
        <!-- Facebook sharing information tags -->
        <meta property="og:title" content="*|MC:SUBJECT|*">
        <link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
        <title>*|MC:SUBJECT|*</title>
    
  </head>
    <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="-webkit-text-size-adjust: none;margin: 0;padding: 0;background-color: #FAFAFA;width: 100%;">
      <center>
        <div style="position:relative; width:100%; max-width:600px; margin-left:auto; margin-right:auto">
          <table border="0" cellpadding="0" cellspacing="0" height="100%" id="backgroundTable" style="margin: 0;padding: 0;background-color: #FAFAFA;height: 100%;width: 100%;">
              <tr>
                  <td align="center" valign="top" style="border-collapse: collapse;">
                        <!-- // Begin Template Preheader \ -->
                        <table border="0" cellpadding="5" cellspacing="0" width="100%" max-width="600" id="templatePreheader" style="background-color: #FAFAFA;">
                            <tr>
                                <td valign="top" class="preheaderContent" style="border-collapse: collapse;">
                                
                                  <!-- // Begin Module: Standard Preheader \ -->
                                    <table border="0" cellpadding="5" cellspacing="0" width="100%">
                                      <tr>
                                          <td valign="top" style="border-collapse: collapse;">
                                              <div mc:edit="std_preheader_content" style="color: #505050;font-family: Arial;font-size: 10px;line-height: 100%;text-align: left;">
                                                   <!-- Use this area to offer a short teaser of your email's content. Text here will show in the preview area of some email clients. -->
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                  <!-- // End Module: Standard Preheader \ -->
                                
                                </td>
                            </tr>
                        </table>
                        <!-- // End Template Preheader \ -->
                      <table border="0" cellpadding="0" cellspacing="0" width="100%" max-width="600" id="templateContainer" style="border: 1px solid #DDDDDD;background-color: #FFFFFF;">
                          <tr>
                              <td align="center" valign="top" style="border-collapse: collapse;">
                                    <!-- // Begin Template Header \ -->
                                  <table border="0" cellpadding="0" cellspacing="0" width="100%" max-width="600" id="templateHeader" style="background-color: #272822;border-bottom: 0;">
                                        <tr>
                                            <td class="headerContent" style="border-collapse: collapse;color: #202020;font-family: Arial;font-size: 34px;font-weight: bold;line-height: 100%;padding: 0;text-align: center;vertical-align: middle;">
                                            
                                              <!-- // Begin Module: Standard Header Image \ -->
                                              <h1 class="header_font" style="color: white;display: block;font-family: 'Kaushan Script', cursive;font-size: 34px;font-weight: bold;line-height: 100%;margin-top: 0;margin-right: 0;margin-bottom: 0;margin-left: 0;text-align: center;padding: 30px 0;">Hire Me</h1>
                                              <!-- // End Module: Standard Header Image \ -->
                                            
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- // End Template Header \ -->
                                </td>
                            </tr>
                          <tr>
                              <td align="center" valign="top" style="border-collapse: collapse;">
                                    <!-- // Begin Template Body \ -->
                                  <table border="0" cellpadding="0" cellspacing="0" max-width="600" id="templateBody">
                                      <tr>
                                            <td valign="top" class="bodyContent" style="border-collapse: collapse;background-color: #FFF;">
                                
                                                <!-- // Begin Module: Standard Content \ -->
                                                <table border="0" cellpadding="40" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td valign="top" style="border-collapse: collapse;">
                                                            <div mc:edit="std_content00" style="color: #505050;font-family: Arial;font-size: 16px;line-height: 145%;text-align: left;">
                                                              Hi <%= @user.name.split.first %>,
                                                              <br>
                                                              <br>
                                                              Just wanted to remind you about tomorrow's interview! Details below:
                                                              <br>
                                                              <br>
                                                              <strong>Company</strong>: <%= @interview.company.name %><br>
                                                              <strong>When</strong>: <%= @interview.date.strftime('%a %-m/%-d') +" @ "+ @interview.start_time.strftime('%-l:%M %P') %><br>
                                                              <% if @interview.company.crunchbase_url %>
                                                                <strong>Info</strong>: <%= link_to "#{@interview.company.name} Profile", @interview.company.crunchbase_url %>
                                                              <% end %>
                                                              <br>
                                                              <br>
                                                              Good Luck!
                                                              <br>
                                                              Team ACDC
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <!-- // End Module: Standard Content \ -->
                                                
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- // End Template Body \ -->
                                </td>
                            </tr>
                          <tr>
                              <td align="center" valign="top" style="border-collapse: collapse;">
                                    <!-- // Begin Template Footer \ -->
                                  <table border="0" cellpadding="0" cellspacing="0" width="100%" max-width="600" id="templateFooter" style="background-color: #FFFFFF;border-top: 0;">
                                      <tr>
                                          <td valign="top" class="footerContent" style="border-collapse: collapse;">
                                            
                                                <!-- // Begin Module: Standard Footer \ -->
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td colspan="2" valign="middle" id="social" style="border-collapse: collapse;background-color: #FFF;border: 0;">
                                                            <div mc:edit="std_social" style="color: #707070;font-family: Arial;font-size: 16px;line-height: 150%;text-align: center;">
                                                                <a href="http://flatironschool.com" style="color: #336699;font-weight: normal;text-decoration: underline;">Visit our Site</a><br>
                                                                <a href="http://www.twitter.com/flatironschool" style="color: #336699;font-weight: normal;text-decoration: underline;">Follow us on Twitter</a> <br>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td valign="top" width="100%" style="border-collapse: collapse;">
                                                            <div mc:edit="std_footer" style="color: #707070;font-family: Arial;font-size: 11px;line-height: 150%;text-align: center;">
                                <br>
                                <br>
                                                        </div></td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2" valign="middle" id="utility" style="border-collapse: collapse;background-color: #FFFFFF;border: 0;">
                                                            <div mc:edit="std_utility" style="color: #707070;font-family: Arial;font-size: 11px;line-height: 150%;text-align: left;">
<!--                                                                 &nbsp;<a href="*|UNSUB|*">unsubscribe from this list</a> | <a href="*|UPDATE_PROFILE|*">update subscription preferences</a>&nbsp; -->
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <!-- // End Module: Standard Footer \ -->
                                            
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- // End Template Footer \ -->
                                </td>
                            </tr>
                        </table>
                        <br>
                    </td>
                </tr>
            </table>
           </div>
        </center>
    </body>
</html>