<h1>Available Jobs</h1>

<% if @jobs.empty? %>
  <p>There are no jobs in the system.</p>
<% else %>
  <%= render :partial => "shared/job_list", :locals => {:job_list => @jobs} %>
<% end %>

<%= link_to 'Add Job', new_job_path, :class => "btn btn-info" %>