
<form class="form-inline">
  <%= collection_select(:user, :id, User.all, :id, :name, {:prompt => true}) %>
  <%= button_tag(:type => 'submit', :class => 'btn btn-primary') do %>
    <i class="fa-icon-heart icon-white"></i>
   <% end %>
</form>
<hr>