<div class="box-tab span12" onTablet="span12" onDesktop="span12">
  <div class="box-tab-header">
  </div>
  <div class="box-content">
    <div id="calendar" class="hidden-phone"></div>
    <div id="calendar" class="hidden-desktop hidden-tablet"></div>
    <div class="clearfix"></div>
  </div>  
</div><!--/span-->