
<label>Date:</label>
<input id="datepicker" type="text" value="<%= @interview.date.strftime('%m/%d/%Y') if !@interview.date.nil? %>">

<div class="field">
  <%= f.hidden_field :date, :id => "alt-datepicker"%>
</div>

<div class="input-append bootstrap-timepicker">
  <input id="start_time" type="text" class="input-small">
  <span class="add-on"><i class="icon-time"></i></span>
</div>

<div class="field">
  <%= f.label :end_time %><br />
  <%= f.time_select :end_time %>
</div>

<script type="text/javascript">
	$(function() {
	  $('#datepicker').datepicker({ 
	  		dateFormat: 'mm/dd/yy',
	  		altFormat: 'yy-mm-dd',
	  		altField  : '#alt-datepicker'
	  	});
	});
  $('#start_time').timepicker();
</script>