
<h4>Event History</h4>

<% if admin? %>

	<% if @company.records.empty? == true %>
		<p><%= @company.name %> has no event history.</p>

	<% else %>
	<ul>
		<% @company.records.each do |record| %>
		<li> 
			<%= record.event %>
		</li>
		<% end %>
	</ul>
	<% end %>

<% elsif current_user? %>
	<% if @company.records.where("user_id=#{current_user.id}").empty? == true %>
		<p>You have no current event history at <%= @company.name %>.</p>

	<% else %>
	<ul>
		<% @company.records.where("user_id=#{current_user.id}").each do |record| %>
		<li> 
			<%= record.event %>
		</li>
		<% end %>
	</ul>
	<% end %>

<% end %>