<div class="clearfix"></div>
<footer class="footer-style">
	<div>
		<span style="text-align:left;float:left">&copy; AC/DC Productions</a> 2013</span>
    
    <span style="text-align:left;float:right">Problems using the site? Tell us on <%= link_to "Github!", "https://github.com/flatiron-school/hire-redux/issues/new" %></span>
  </div>
</footer>