<!-- @interviews -->
<ul>
	<% @student.interviews.each do |interview| %>
		<li>
			<%= interview.company.name %>, <%= interview.date_time.strftime("%m/%d/%Y, at %I:%M%p") %> (<%= distance_of_time_in_words_to_now(interview.date_time) %> from now)
		</li>
	<% end %>
</ul>