<td class="center">
  <% if relationship.aasm_state == "like" %> 
    <span class="label label-info">
      Liked
    </span>
  <% elsif relationship.aasm_state == "pending" %>
    <span class="label label-warning">
      Update Status
    </span>
  <% elsif relationship.aasm_state == "interviewing" %>
    <span class="label label-success">
      Interview Scheduled
    </span>
  <% elsif relationship.aasm_state == "user_decline" %>
    <span class="label label-inverse">
      Student Declined
    </span>
  <% elsif relationship.aasm_state == "company_decline" %>
    <span class="label label-danger">
      Company Declined
    </span>
  <% elsif relationship.aasm_state == "offer_received" %>
    <span class="label">
      Offer Received
    </span>
  <% elsif relationship.aasm_state == "offer_accepted" %>
    <span class="label label-success">
      Offer Accepted
    </span>
  <% elsif relationship.aasm_state == "offer_declined" %>
    <span class="label label-inverse">
      Offer Declined
    </span>
  <% end %>
</td>