<div class="box span4 noMargin" onTablet="span12" onDesktop="span4">
  <div class="box-header">
    <h2><i class="fa-icon-list-ol"></i><span class="break"></span><%= @user.name.split.first %>'s Records</h2>
    <div class="box-icon">
      <a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
      <a href="#" class="btn-close"><i class="icon-remove"></i></a>
    </div>
  </div>
  <% r = @user.records.first %>
  <div class="box-content">
    <ul class="tickets">
      <li class="ticket">
        <a href="#">
          <span class="header">
            <span class="title">Status: <%= r.relationship.aasm_state %></span>
            <span class="title"><%= r.job %></span>
          </span> 
          <span class="content">
            <span class="avatar"><img src="img/avatar6.jpg" alt="Avatar"></span>
            <span class="name">Ashley Tan</span>
            <span class="priority blue">[ Low priority ]</span>
            <span class="status">Status: <span class="green">[ Complete ]</span></span>
            <span class="date">Jul 25, 2012 11:09</span>
          </span>                                                         
        </a>
      </li>
    </ul>
  </div>
</div><!--/span-->