<h1>CRM Newsfeed</h1>

<% if @records.empty? %>
  <p>No activity has been tracked in CRM.</p>
<% else %>
  <%= render :partial => "shared/record_list", :locals => {:record_list => @records} %>
<% end %>

<br>