<div class="row-fluid sortable">
  <div class="box span12">
    <div class="box-header" data-original-title>
      <h2><i class="icon-picture"></i> Company Gallery</h2>
    </div>
    <div class="box-content">
      <div class="masonry-gallery">

      <% @companies.sort_by{|c| c.name }.each_with_index do |company, i| %>

        <div id="image-<%= i %>" class="masonry-thumb company-gallery">
            <div class="wrapper-cell">
              <div>
              <%= link_to image_tag(company.logo_url, :size => "150x150"), company_path(company) %>
              </div>
            </div>
        </div>

      <% end %>
                      
      </div>
    </div>
  </div><!--/span-->

</div><!--/row-->

<hr>

<!-- end: Content -->

<%= link_to 'New Company', new_company_path, :class => "btn btn-info" %>