<h1>Companies in Network</h1>

<div class="row-fluid sortable">
  <div class="box span12">
    <div class="box-header" data-original-title>
      <h2><i class="icon-picture"></i> Company Gallery</h2>
    </div>
    <div class="box-content">
      <div class="masonry-gallery">

      <% @companies.each_with_index do |company, i| %>

        <div id="image-<%= i %>" class="masonry-thumb company-gallery">
            <div class="wrapper-cell">
              <div>
              <%= link_to image_tag(company.logo_url, :size => "150x150"), company_path(company) %>
              </div>
            </div>
        </div>

      <% end %>
                      
      </div>
    </div>
  </div><!--/span-->

</div><!--/row-->

    <hr>
<!-- end: Content -->
</div><!--/#content.span10-->
  </div><!--/fluid-row-->
  
<div class="modal hide fade" id="myModal">
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">×</button>
  <h3>Settings</h3>
</div>
<div class="modal-body">
  <p>Here settings can be configured...</p>
</div>
<div class="modal-footer">
  <a href="#" class="btn" data-dismiss="modal">Close</a>
  <a href="#" class="btn btn-primary">Save changes</a>
</div>
</div>

<div class="clearfix"></div>

<br>

<%= link_to 'New Company', new_company_path, :class => "btn btn-info" %>
