.alert{
	margin-left: 25px;
	margin-right: 25px;
}

.company_logo_div {
  padding-top: 25%;
  padding-bottom: 25%;
}

.interview_title {
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 15px;
}

.interview_overview_list li {
  list-style-type: none;
}

.company-gallery {
	background: rgb(216,216,216);
	height: 150px;
	width: 150px;
	display: table;
	text-align: center
}

.wrapper-cell {
	display: table-cell;
	vertical-align: middle;

	div img {
		max-height: 150px;
	}
}

.navbar-inner a {
	text-decoration:none;
	color: white;
}

.status_btn {
  margin-right: 10px;
}