.alert{
	margin-left: 25px;
	margin-right: 25px;
}

.company_logo_div {
  padding-top: 25%;
  padding-bottom: 25%;
}

.interview_title {
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 15px;
}

.interview_overview_list li {
  list-style-type: none;
}

.company-gallery {
	background: grey;
	height: 150px;
	width: 150px;
	display: table;
	text-align: center
}

.wrapper-cell {
	display: table-cell;
	vertical-align: middle;
}

.navbar-inner a {
	text-decoration:none;
	color: white;
}