.alert{
	margin-right: 25px
}

.company_logo_div {
  padding-top: 25%;
  padding-bottom: 25%;
}

.interview_title {
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 15px;
}

.interview_overview_list li {
  list-style-type: none;
}